@import "./constants";

/****************/
/** alert.js **/
/****************/

.toastContainer {
  left: 0 !important;
  margin: 0 !important;
  padding: 0 1em !important;
  width: 100% !important;
}

.message {
  border-radius: 10px !important;
  // font-family: $body-font !important;
  font-weight: bold;
  text-align: center;
  @extend .responsive-container;
  @media (max-width: $break-md) { font-size: .9em; }
}

.fadeIn { animation-name: fadeIn; }
.fadeOut { animation-name: fadeOut; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/****************/
/** button.js **/
/****************/

.button {
  color: white;
  font-family: $body-font;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  user-select: none;
  &:focus { outline: none; }
  &:active {
    -webkit-transition-duration: .1s;
    transition-duration: .1s; }
  @media (max-width: $break-md) { min-width: initial; }
}

.form-buttons {
  @extend .button;
  border: 1px solid white;
  border-radius: 15px;
  min-width: 200px;
  padding: 1em;
  @media (max-width: $break-md) {
    min-width: initial;
    width: 48%;
  }
}

.submit {
  &-default {
    @extend .form-buttons;
    background-color: rgba(57, 17, 68, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(91, 27, 112, 0.5); }
    &:active { box-shadow: inset 0 0 100px 100px $primary-dark; } }
  &-blackex {
    @extend .form-buttons;
    background-color: rgba(17, 68, 66, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(27, 109, 112, 0.5); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(8, 33, 34, 0.8); } }
  &-mental {
    @extend .form-buttons;
    background-color: rgba(17, 68, 37, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(27, 112, 52, 0.5); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(8, 34, 16, 0.8); }
  }
}

.delete {
  @extend .form-buttons;
  background-color: rgba(220, 0, 0, .5);
  &:hover { box-shadow: inset 0 0 100px 100px rgba(255, 55, 55, 0.3); }
  &:active { box-shadow: inset 0 0 100px 100px rgba(255, 0, 0, 0.5);; }
}

.cancel {
  &-default {
    @extend .form-buttons;
    background-color: rgba(142, 116, 171, .5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(190, 155, 229, .3); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(173, 127, 224, .5); } }
  &-blackex {
    @extend .form-buttons;
    background-color: rgba(116, 163, 171, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(155, 220, 229, 0.3); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(127, 221, 224, 0.5); } }
  &-mental {
    @extend .form-buttons;
    background-color: rgba(116, 171, 123, 0.5);
    &:hover { box-shadow: inset 0 0 100px 100px rgba(155, 229, 177, 0.3); }
    &:active { box-shadow: inset 0 0 100px 100px rgba(127, 224, 159, 0.5); }
  }
}

.add {
  @extend .button;
  @media (max-width: $break-md) { font-size: 80%; }
}

.widgets { font-family: $body-font; }

/****************/
/** dropdown .js **/
/****************/

.dropdown_menu {
  background-color: $dark !important;
  border-radius: 10px;
  overflow: hidden;
  width: max-content;
  .dropdown_item { padding: 0.5em 1em; }
  a { color: white; }
}

.filter_menu {
  background-color: $dark !important;
  border-radius: 10px;
  padding: 1em !important;
  overflow: hidden;
  white-space: nowrap;
  label {
    align-items: baseline;
    color: white;
    display: flex;
  }
  input[type="checkbox"] {
    margin-right: .5em;
  }
}

/******************************/
/** datepicker.js  ************/
/******************************/

.datepicker {
  all: initial;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: $underline;
  padding: .2em 0;
  .calendarIcon {
    margin: 0 .2em 0 .4em !important;
    @media (max-width: $break-md) { margin-right: .5em !important; }
  }
  .dateinput {
    border: none !important;
    cursor: pointer;
  }
}

.dateModal {
  justify-content: space-evenly;
  padding: 2em;
  select {
    font-size: 1.4em !important;
    @media (max-width: $break-md) { font-size: 1.2em !important; }}
}

/******************************/
/** form.js  ******************/
/******************************/

.formHeading {
  @extend .text;
  font-size: 2.2em;
  margin-bottom: .5em;
  @media (max-width: $break-md) {
    font-size: 1.8em;
    text-align: center;
  }
}

.group {
  padding: .2em 0;
  @media (max-width: $break-md) {
    margin-bottom: 0 !important;
    padding: 0;
  }
  .label {
    color: white;
    display: block;
    font-family: $title-font;
    font-size: 1.1em;
  }
  .input {
    @extend .text;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: $underline;
    font-size: 1.2em;
    outline: none;
    padding: .4em;
    width: 100%;
    @media (max-width: $break-md) { font-size: 1em; padding: .4em 0}
  }
  .textarea {
    @extend .input;
    min-height: 42px;
    + .wordcount {
      color: $faded-white;
      font-family: $title-font;
      margin: 0;
      text-align: right;
      width: 100%;
    }
  }
  .select {
    @extend .input;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .checkbox {
    @extend .text;
    display: flex;
    align-items: baseline;
    .box {
      margin-right: .5em;
    }
  }
  .file {
    border: 1px solid white;
    border-radius: 8px;
    display: flex;
    overflow: hidden;
    width: fit-content;
    .file_button {
      border: none;
      border-radius: 8px;
      color: white;
      cursor: pointer;
      font-family: $body-font;
      padding: .7em 1.2em;
      margin: 0;
      transition-duration: .3s;
      -webkit-transition-duration: .3s;
      &-default {@extend .file_button, .submit-default; min-width: initial;}
      &-blackex {@extend .file_button, .submit-blackex; min-width: initial;}
      &-mental {@extend .file_button, .submit-mental; min-width: initial;} }
    .file_input {
      background: white !important;
      font-family: $body-font;
      padding: .5em .5em;
    }
    + .fileImage {
      height: 50vh;
      margin-top: 1em;
      @media (max-width: $break-md) {
        height: initial;
        width: 100%;
      }
      img {
        border: $secondary-border;
        height: 100%;
        @media (max-width: $break-md) {
          height: initial;
          width: 100%;
        }
      }
    }
  }

  @media (max-width: $break-md) {
    > div { margin: .8em 0; }
  }
}

.searchContainer {
  background: $dark;
  border-radius: 30px;
  padding: .3em .7em;
  @media (max-width: $break-md) { width: 75%; }
  .searchBar {
    @extend .text;
    background: none;
    border: none;
    min-width: 250px;
    outline: none;
    @media (max-width: $break-md) {
      font-size: 1em;
      min-width: initial;
      width: 90%;
    }
  }
}

:global(.react-datepicker__input-container) { padding: .4em 0; }
:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) { display: block !important; }
:global(.react-datepicker__day--outside-month){ color: #a9a9a9; }

/****************/
/** icon.js *****/
/****************/

.socialIcon {
  &-default { color: $primary; }
  &-blackex { color: $blackex; }
  &-mental { color: $mental; }
}

.header_socials {
  font-size: 1.5em;
  margin: 0 .1em;
  @media (max-width: $break-md) {
    font-size: 1.3em; }
}

.footer_socials {
  @include scale-on-hover(1.1);
  background-color: black;
  border-radius: 30px;
  display: inline-block;
  padding: 1em 0;
  text-align: center;
  width: 5.5em;
}

.promo_bar {
  .promo_socials {
    font-size: 1.2em;
    margin: .2em;
  }
}

.socials {
  color: #8E8E8E;
  font-family: $title-font;
  word-break: break-all;
  a {
    font-family: $body-font;
    font-weight: bold;
    margin-left: .5em;
  }

  &-default { @extend .socials; a { @extend .link-default; } }
  &-blackex { @extend .socials; a { @extend .link-blackex; } }
  &-mental { @extend .socials; a { @extend .link-mental; } }
}

/****************/
/** layout.js **/
/****************/

.cover {
  background: {  
    repeat: no-repeat;
    size: cover;
  }
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .coverText {
    padding-bottom: 1em;
    @extend .responsive-container;
    .coverTitle {
      @extend .text;
      font-size: 2.3em;
      line-height: 1.3;
      padding-bottom: .2em;
      @media (max-width: $break-xl) { font-size: 2.6em; }
      @media (max-width: $break-sm) { font-size: 2em; } }
    .coverSubtitle {
      @extend .subtitle;
      font-size: 1.4em;
      @media (max-width: $break-xl) { font-size: 1.7em; }
      @media (max-width: $break-sm) { font-size: 1.1em; }
    }
  }

  &-default { @extend .cover; border-bottom: 1px solid $primary; }
  &-blackex { @extend .cover; border-bottom: 1px solid $blackex; }
  &-mental { @extend .cover; border-bottom: 1px solid $mental; }
}

/****************/
/** loader.js **/
/****************/

.loader {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 30vh;
  height: 100%;
  justify-content: center;
  width: 100%;
  .spinner {
    color: white;
    font-family: $body-font;
    padding-left: .5em;
  }
}

/****************/
/** modal.js **/
/****************/
.modal_header, .modal_body, .modal_footer { background: $dark; }
.modal_body, .modal_footer { border: none !important; }
.modal_footer { padding-top: 0 !important; }

:global(.modal-dialog) {
  max-width: 600px !important;
}
:global(.modal-open) {
  padding: 0 !important;
  overflow-y: auto
}
:global(.modal-content) {
  border: 1px solid $faded-white !important;
  border-radius: 15px !important;
  overflow: hidden;
}

.social_fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  .icons {
    font-size: 1.4em;
    width: 35px;
  }
}

.clear {
  @extend .invisible_button;
  font-size: .8em;
  color: skyblue;
  margin-top: .4em;
  text-align: right;
  &:hover { text-decoration: underline; }
}

/****************/
/** rator.js **/
/****************/

.starBar {
  display: flex;
  padding: 0.8em 0 0;
  button { padding: 0; }
  .starIcon { font-size: 1.6em; }
}

/****************/
/** text.js **/
/****************/
.title {
  color: white;
  font-family: $title-font;
}
.subtitle {
  color: white;
  font-family: $body-font;
}
.paragraph {
  color: white;
  display: inline;
  font-family: $body-font;
  white-space: pre-line;
  .heading {
    font-family: $title-font;
    font-size: 1.8em;
    padding: .4em 0;}
  .subheading {
    font-family: $title-font;
    font-size: 1.2em;
    padding: .2em 0;}
  .body { margin: 1rem 0; }
  .listitem {
    display: grid;
    grid-template-columns: 1.5em 1fr;
  }
  .image {
    margin: 1.5em 0;
    width: 100%;
    img {
      border-radius: 50%;
      border: 2px inset rgba(255,255,255,.8);
      width: 50%;
      float: right;
      margin: 0 0 1em 1em;
      shape-outside: ellipse(50%);
      @media (max-width: $break-md) {
        all: initial;
        border-radius: 30px;
        width: 100%; }
    }
  }
}
.divider {
  background-color: white;
  overflow: hidden;
}
.quoteWrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 1em;
  .quotes {
    @include font-scaler(6);
    color: white;
    font-family: 'Yeseva One', cursive;
    line-height: 0; }
  .quoteLeft {
    @extend .quotes;
    align-self: flex-start;
    padding-top: .5em;
    padding-right: 8px; }
  .quoteRight {
    @extend .quotes;
    align-self: end;
    padding-left: 8px;
    @media (max-width: $break-md) { padding-bottom: .35em; }
  }
}
.readmore {
  @include font-scaler(1.1);
  color: skyblue;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  margin-top: .5em;
  &:hover { text-decoration: underline; }
  .linkIcon {
    @include font-scaler(1.1);
    color: skyblue;
  }
}
.expandText {
  @include font-scaler(1.1);
  color: skyblue;
  cursor: pointer;
  display: block;
  font-family: $body-font;
  &:hover { text-decoration: underline; }
}

/****************/
/** toolbar.js **/
/****************/
.toolbar {
  background-color: $toolbar;
  height: 5vh;
  padding: 1.5em 0;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 1;
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}

.top_toolbar {
  @extend .toolbar;
  top: $navbar-height;
  @media (max-width: $break-md) { top: 8vh; }
}

.bottom_toolbar {
  @extend .toolbar;
  bottom: 0%;
  button, label {
    @media (max-width: $break-md) { font-size: .8em !important; }
  }
}

/****************/
/** voter.js **/
/****************/

.voter {
  border-radius: 30px;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  min-height: 6em;
  width: 100%;
  .options {
    @include font-scaler(1.4);
    all: initial;
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: $body-font;
    justify-content: center;
    padding: .5em;
    user-select: none;
    transition: all .3s;
    text-align: center;
    width: 50%;
    &:focus { outline: none; }}
  .yes {
    @extend .options;
    background-color: rgba(0, 128, 0, .4);
    &:hover { background-color: rgba(0, 128, 0, .8); }}
  .yesVoted {
    @extend .options;
    background-color: rgba(0, 128, 0, .8);
    cursor: initial;}
  .no {
    @extend .options;
    background-color: rgba(255, 0, 0, .4);
    &:hover { background-color: rgba(255, 0, 0, .8) } }
  .noVoted {
    @extend .options;
    background-color: rgba(255, 0, 0, .8);
    cursor: initial; }
}