@import "constants";

.formHeading {
  // @extend .text;
  font-size: 2.2em;
  margin-bottom: .5em;
  @media (max-width: $break-md) {
    font-size: 1.8em;
    text-align: center;
  }
}

// Label element styles, add color and font-family
.label {
  // color: auto;
  display: block;
  // font-family: auto;
  font-size: 1.1em;
}

// Input element styles, add border-bottom, color and font-family
.input {
  background: none;
  border: none;
  // color: auto;
  border-radius: 0;
  // border-bottom: auto;
  // font-family: auto;
  font-size: 1.2em;
  outline: none;
  padding: .4;
  width: 100%;
  @media (max-width: $break-md) { font-size: 1em; padding: .4em 0}
}

.textarea {
  @extend .input;
  min-height: 42px;
  + .wordcount {
    // color: $faded-white;
    // font-family: $title-font;
    margin: 0;
    text-align: right;
  }
}

// .group {
//   padding: .2em 0;
//   @media (max-width: $break-md) {
//     margin-bottom: 0 !important;
//     padding: 0;
//   }
  // .select {
  //   @extend .input;
  //   border-radius: 0;
  //   appearance: none;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  // }
  // .checkbox {
  //   // @extend .text;
  //   display: flex;
  //   align-items: baseline;
  //   .box {
  //     margin-right: .5em;
  //   }
  // }
  // .file {
  //   border: 1px solid white;
  //   border-radius: 8px;
  //   display: flex;
  //   overflow: hidden;
  //   width: fit-content;
  //   .file_button {
  //     border: none;
  //     border-radius: 8px;
  //     color: white;
  //     cursor: pointer;
  //     font-family: $body-font;
  //     padding: .7em 1.2em;
  //     margin: 0;
  //     transition-duration: .3s;
  //     -webkit-transition-duration: .3s; }
  //   .file_input {
  //     background: white !important;
  //     font-family: $body-font;
  //     padding: .5em .5em;
  //   }
  //   + .fileImage {
  //     height: 50vh;
  //     margin-top: 1em;
  //     @media (max-width: $break-md) {
  //       height: initial;
  //       width: 100%;
  //     }
  //     img {
  //       border: $secondary-border;
  //       height: 100%;
  //       @media (max-width: $break-md) {
  //         height: initial;
  //         width: 100%;
  //       }
  //     }
  //   }
  // }

//   @media (max-width: $break-md) {
//     > div { margin: .8em 0; }
//   }
// }

// .searchContainer {
//   background: $dark;
//   border-radius: 30px;
//   padding: .3em .7em;
//   @media (max-width: $break-md) { width: 75%; }
//   .searchBar {
//     // @extend .text;
//     background: none;
//     border: none;
//     min-width: 250px;
//     outline: none;
//     @media (max-width: $break-md) {
//       font-size: 1em;
//       min-width: initial;
//       width: 90%;
//     }
//   }
// }